@page
@model GatewayAPI.Pages.Identity.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <section>
            <form id="account" method="post">
                <h4 class="text-center display-6">Авторизация</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                    <label asp-for="Input.Email" class="form-label">Email/Имя пользователя</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="form-check mb-3">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Запомнить меня</label>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" asp-page-handler="Login">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}