@page "/Courses/{pageNumber?}"
@model GatewayAPI.Pages.Courses.CoursesModel
@{
    ViewData["Title"] = $"Курсы";
}
<div class="course-list">
    @foreach (var course in Model.Courses)
    {
        <div>
            <a href="/courses/preview/@course.Id" class="module-item">
                <div class="large">@course.Title</div>
                <img src="/images/front-end-development.jpg" width="350"/>
            </a>
        </div>
    }
</div>