@page "{id}"
@model GatewayAPI.Pages.Courses.PreviewModel
@{
}

<div>
    <div class="large">@Model.Course.Title</div>
    <img src="/images/front-end-development.jpg" width="350" />
    <div class="medium">*О курсе</div>
    <div class="medium">@Model.Course.Description</div>
    <form action="/courses/view/@Model.Course.Id">
        <button class="btn btn-sm btn-outline-primary medium">Записаться на курс</button>
    </form>
</div>
