@page
@model IndexModel
@{
    ViewData["Title"] = "Курсы";
}
@* <div class ="video-background">
    <video autoplay loop muted playsinline disablePictureInPicture controlsList="nodownload noplaybackrate">
        <source src="/images/0_Sunset_Clouds_3840x2160.mp4" type="video/mp4" />

    </video>
</div> *@

<div class="text-center">
    <h1 class="display-4">Приветствуем вас!</h1>
    <form action="/Courses">
        <button class="btn btn-sm btn-outline-primary large">Посмотреть курсы</button>
    </form>
</div>
<div class="center-container-column">
    <img class="full-width" src="/images/courses_main_poster.jpg" />
    <div class="text-center">
        <h1 class="display-5">
            Откройте для себя новые возможности с нашими онлайн-курсами!
        </h1>
    </div>
</div>

