.quiz-card {
    margin-bottom: 30px;
    border: 0px solid;
}

.question-card {
    margin-bottom: 15px;
    border-left: 4px solid #0d6efd;
    border-radius: 0px;
}

.question-actions {
    margin-top: 15px;
}

.quiz-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.no-questions {
    padding: 40px 20px;
    text-align: center;
    border: 2px dashed #dee2e6;
    border-radius: 8px;
    color: #6c757d;
}

.options-list {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-title {
    font-weight: 300;
}
.quiz-results {
    background: #fff;
    border-radius: 0px;
    padding: 20px;
    border: 0px solid;
    margin-bottom: 30px;
}

.quiz-results-header {
    text-align: center;
    margin-bottom: 20px;
}

.score-summary {
    font-size: 1.2rem;
    margin-top: 15px;
}

.question-result {
    border-left: 4px solid;
    padding: 15px;
    margin-bottom: 15px;
    background: #f8f9fa;
    border-radius: 0px;
}

    .question-result.correct {
        border-color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }

    .question-result.incorrect {
        border-color: #dc3545;
        background-color: rgb(0, 0, 0, 0,10);
    }

.question-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 500;
}

.question-number {
    color: #495057;
}

.question-score {
    font-weight: bold;
}

.question-text {
    font-weight: 500;
    margin-bottom: 10px;
}

.answer-comparison {
    background: #fff;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #dee2e6;
}

.answer-label {
    font-weight: 500;
    color: #6c757d;
    margin-right: 5px;
}

.correct-answer {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px dashed #dee2e6;
}

/*.quiz-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-start;
    align-items: flex-start;
}*/